
.zoom-in-12 {
  margin: 24px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: zoom-in-12 10s ease 0.5;
}

@keyframes zoom-in-12 {
  0% {
    transform: scale(1., 1.);
  }
  50% {
    transform: scale(1.5, 1.5) translate(0%,25%);
  }
  100% {
    transform: scale(2, 2) translate(0%, 50%);

  }
}

.zoom-in-2 {
  margin: 24px;
  width: 1000px;
  height: 1000px;
  background: #ffffff;
  animation: zoom-in-2 10s ease 0.5;
}

@keyframes zoom-in-2 {
  0% {
    transform: scale(1., 1.);
  }
  50% {
    transform: scale(1.5, 1.5) translate(-25%, 25%);
  }
  100% {
    transform: scale(2, 2) translate(-50%, 50%);

  }
}


.zoom-in-5 {
  margin: 24px;
  width: 1000px;
  height: 1000px;
  background: #ffffff;
  animation: zoom-in-5 10s ease 0.5;
}

@keyframes zoom-in-5 {
  0% {
    transform: scale(1., 1.);
  }
  50% {
    transform: scale(1.5, 1.5) translate(25%, 25%);
  }
  100% {
    transform: scale(2, 2) translate(50%, 50%);

  }
}

.zoom-in-7 {
  margin: 24px;
  width: 2474px;
  height: 1910px;
  background: #ffffff;
  animation: zoom-in-7 10s ease 0.5;
}

@keyframes zoom-in-7 {
  0% {
    transform: scale(1., 1.);
  }
  50% {
    transform: scale(1.5, 1.5) translate(25%, 0%);
  }
  100% {
    transform: scale(2, 2) translate(50%, 0%);

  }
}


.zoom-in-9 {
  margin: 24px;
  width: 1000px;
  height: 1000px;
  background: #ffffff;
  animation: zoom-in-9 10s ease 0.5;
}

@keyframes zoom-in-9 {
  0% {
    transform: scale(1., 1.);
  }
  50% {
    transform: scale(1.5, 1.5) translate(-25%, 0%);
  }
  100% {
    transform: scale(2, 2) translate(-50%, 0%);

  }
}


.zoom-in-10 {
  margin: 24px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: zoom-in-10 10s ease 0.5;
}

@keyframes zoom-in-10 {
  0% {
    transform: scale(1., 1.);
  }
  50% {
    transform: scale(1.5, 1.5) translate(-25%, -25%);
  }
  100% {
    transform: scale(2, 2) translate(-50%, -50%);

  }
}